.white {
  color: #ffffff !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.off-white {
  color: #ccc !important;
}

.bg-off-white {
  background-color: #ccc !important;
}

.black {
  color: #000 !important;
}

.bg-black {
  background-color: #000 !important;
}

.gray {
  color: #1c1c1c !important;
}

.bg-gray {
  background-color: #1c1c1c !important;
}

.cream {
  color: #F9F9F3 !important;
}

.bg-cream {
  background-color: #F9F9F3 !important;
}

.dark-cream {
  color: #E3E2D4 !important;
}

.bg-dark-cream {
  background-color: #E3E2D4 !important;
}

.orange {
  color: #FFEFE1 !important;
}

.bg-orange {
  background-color: #FFEFE1 !important;
}

.green {
  color: #EBFFEF !important;
}

.bg-green {
  background-color: #EBFFEF !important;
}

.blue {
  color: #E4F5FB !important;
}

.bg-blue {
  background-color: #E4F5FB !important;
}

.purple {
  color: #F4F4F9 !important;
}

.bg-purple {
  background-color: #F4F4F9 !important;
}

.color0 {
  color: #E2E2E2 !important;
}

.bg-color0 {
  background-color: #E2E2E2 !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.f-8 {
  font-size: 8px;
}

.f-12 {
  font-size: 12px;
}

.f-16 {
  font-size: 16px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-32 {
  font-size: 32px;
}

.f-36 {
  font-size: 36px;
}

.f-48 {
  font-size: 48px;
}

.row {
  margin: 0;
}

.min-vh-100 {
  min-height: 100vh;
}

.aside {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  border-right: 1px solid #ccc;
}

.aside-nav {
  margin-top: 100px;
}
.aside-nav ul {
  list-style: none;
  padding: 0;
}
.aside-nav li {
  color: #000;
  margin: 24px 0;
  width: 100%;
  padding: 8px 0;
}
.aside-nav li.active {
  border-left: 5px solid #000;
}
.aside-nav li span {
  margin-left: 25%;
}
.aside-nav li span img {
  margin-right: 10px;
  vertical-align: top;
}

.main-side {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}

.searchbar {
  position: relative;
}
.searchbar input {
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 12px 0 12px 48px;
  width: 60%;
}
.searchbar .searchbar-icon {
  position: absolute;
  top: 12px;
  left: 20px;
}
.searchbar .searchbar-icon img {
  width: 16px;
}

.filters {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #ccc;
  padding: 12px 52px 12px 20px;
  border-radius: 12px;
}
.filters img {
  position: absolute;
  top: 16px;
  right: 12px;
  width: 16px;
}

.card {
  border-radius: 32px;
  border: 1px solid #F9F9F3;
  padding: 36px;
}
.card .icon {
  display: inline-block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.card .icon img {
  width: 16px;
  transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%;
}

.right-side {
  border-radius: 32px;
  position: fixed;
  right: 48px;
  right: 16px;
  top: 48px;
  bottom: 48px;
  z-index: 99;
}

.calendar-div {
  position: absolute;
  bottom: 32px;
  right: 24px;
  left: 24px;
}

.company-card {
  background-color: #E4F5FB;
  padding: 16px;
  border-radius: 32px;
  position: relative;
}
.company-card .top {
  border-radius: 32px 32px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: #FFEFE1;
}
.company-card .company-logo {
  height: 100px;
  transform: translate(20px, 50px);
  border-radius: 10px;
}
.company-card .company-info {
  margin-top: 150px;
}
.company-card .company-attributes img {
  width: 20px;
}
.company-card .company-attributes span {
  margin-left: 12px;
}
.company-card .company-button {
  border-top: 1px solid #000;
}

.react-calendar {
  max-width: 100%;
  background: transparent;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0px;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  max-width: 100%;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border-radius: 5px;
  color: #F9F9F3;
  margin: 0 5px;
  padding: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #F9F9F3;
  color: #000;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  border: 2px solid #000 !important;
  border-radius: 5px;
  background: #F9F9F3;
  color: #000;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #F9F9F3;
  color: #000;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #F9F9F3;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #F9F9F3;
  color: #000;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F9F9F3;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/*# sourceMappingURL=main.css.map */
